<div class="header">
    <div class="marca">
        <h1 class="titulo">CrudNg</h1>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a class="itemMenu" routerLink="/registros">
                Listado de Registros
                </a>
            </li>
            <li>
                <a class="itemMenu" routerLink="/registro/nuevo">
                Crear Registro
                </a>
            </li>
        </ul>
        <form action="">
            <input type="text">
        </form>
    </div>
</div>

<div class="contenedor">
    <!-- <button routerLink="/registro/nuevo">
        Crear Registro
    </button> -->

    <ul class="lista">
        <li class="itemRegistro" *ngFor="let registro of registros; let i = index">
            <div class="infoItem">
                <div><span>Autor: </span>{{registro.userId}}</div>
                <div class="textCtn">{{registro.title}}</div>
                <div><span>Esta completo?: </span>{{registro.completed}}</div>
            </div>

            <div class="botones">

                <button class="btnAf" [routerLink]="['/registro', registro.id]" routerLinkActive="router-link-active" >
                    Editar
                </button>

                <button
                class="btnNeg" (click)="borrarRegistro( registro, i )">
                    Eliminar
                </button>
            </div>
        </li>
    </ul>
<!-- </div> -->