<div class="encabezado">
<h1>Registro</h1>
<button class="regresar" routerLink="/registros">
    Regresar
</button>
</div>

<div class="formNuevo">
    
    <form (ngSubmit) = "guardar(f)"
            #f="ngForm"
    >

        <label for="">Nombre</label>
        <input 
        type="text"
        placeholder="Nombre del Autor"
        [(ngModel)]="registro.userId"
        name="userId"
        >

        <label for="">Contenido</label>
        <input 
        type="text"
        placeholder="Contenido del Registro"
        [(ngModel)]="registro.title"
        name="title"
        >
        
        <div>
            <input
            class="check" 
            type="checkbox" 
            value="completo"
            [(ngModel)]="registro.completed"
            name="completed"
            > Esta completo<br>
        </div>

        <button> Crear Registro </button>

    </form>
</div>