@charset "UTF-8";
@font-face {
  font-family: monserrat;
  src: url(../fuentes/Montserrat-Regular.ttf); }

/* Fuente principal */
/* Media Querys */
/* Variables para los tamaños de los Queries */
/* Colores */
/* Media Queries */
/* Estilos Generales */
*,
*:after,
*:before {
  /* Esto es para que ningun margin ni padding cambie el tamaño de los objetos */
  box-sizing: inherit; }

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

/* Registro */
body {
  background: #f1f1f1; }
  @media (min-width: 480px) {
    body {
      background: #f1f1f1; } }
  @media (min-width: 768px) {
    body {
      background: #f1f1f1; } }
  @media (min-width: 1024px) {
    body {
      background: #f1f1f1; } }

/*  */
* {
  margin: 0;
  padding: 0;
  font-family: monserrat; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

.header {
  background-color: #000000;
  color: #FFFFFF;
  height: 150px;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: 1fr; }
  .header .titulo {
    font-size: 18px;
    padding: 65px 0px 0px 30px; }
    @media (min-width: 768px) {
      .header .titulo {
        font-size: 24px; } }

.header .menu {
  display: block;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 50px; }
  @media (min-width: 768px) {
    .header .menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 0px; } }
  .header .menu ul {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3; }
    @media (min-width: 768px) {
      .header .menu ul {
        display: flex; } }
    .header .menu ul li .itemMenu {
      display: flex;
      padding: 10px 0px 0px 0px; }
      @media (min-width: 768px) {
        .header .menu ul li .itemMenu {
          display: block;
          flex: 0 1 auto; } }
      @media (min-width: 768px) {
        .header .menu ul li .itemMenu {
          padding: 72px 0px 0px 30px; } }
  .header .menu form {
    grid-column-start: 4;
    grid-column-end: 4; }
    .header .menu form input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      box-sizing: border-box;
      margin: 55px 15px 0px 0px;
      width: auto;
      color: red; }

.contenedor {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr; }
  @media (min-width: 768px) {
    .contenedor {
      grid-template-columns: 1.2fr 4fr 1.2fr; } }
  .contenedor .lista {
    grid-column-start: 2;
    grid-column-end: 2; }
    .contenedor .lista .itemRegistro {
      border: 0.2px solid #bebebe;
      padding: 20px 0px 20px 20px;
      display: grid;
      grid-template-columns: 5fr; }
      @media (min-width: 768px) {
        .contenedor .lista .itemRegistro {
          grid-template-columns: 5fr 2fr;
          grid-template-rows: 2fr; } }
      .contenedor .lista .itemRegistro .infoItem {
        padding: .3rem; }
        .contenedor .lista .itemRegistro .infoItem span {
          font-weight: 700; }
        .contenedor .lista .itemRegistro .infoItem .textCtn {
          margin-bottom: 1rem; }
  .contenedor .botones {
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenedor .botones .btnAf {
      background-color: #3085d6;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      font-size: 0.8rem;
      padding: 1rem;
      outline: none;
      margin: 0.2rem;
      cursor: pointer; }
    .contenedor .botones .btnNeg {
      background-color: #dd3333;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      font-size: 0.8rem;
      padding: 1rem;
      outline: none;
      margin: 0.2rem;
      cursor: pointer; }

.encabezado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr; }
  .encabezado h1 {
    padding: 2rem; }
  .encabezado .regresar {
    background-color: #dd3333;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 1rem;
    outline: none;
    margin: 0.2rem;
    cursor: pointer;
    float: left;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 14px;
    margin-top: 30px; }

.formNuevo {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr; }
  @media (min-width: 768px) {
    .formNuevo {
      grid-template-columns: 1.2fr 4fr 1.2fr; } }
  .formNuevo form {
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 2rem; }
    .formNuevo form input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      box-sizing: border-box; }
    .formNuevo form .check {
      display: inline;
      width: 22px; }
    .formNuevo form button {
      background-color: #3085d6;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      font-size: 0.8rem;
      padding: 1rem;
      outline: none;
      margin: 0.2rem;
      cursor: pointer;
      margin-top: 1rem;
      float: right; }

.errorForm {
  text-align: center;
  color: #dd3333;
  font-weight: 700; }

body {
  background: #f1f1f1; }
  @media (min-width: 480px) {
    body {
      background: #f1f1f1; } }
  @media (min-width: 768px) {
    body {
      background: #f1f1f1; } }
  @media (min-width: 1024px) {
    body {
      background: #f1f1f1; } }
