
/* Estilos Generales */
*,
*:after,
*:before{
    @include box-sizing(inherit);
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/* Registro */

body{    
    background: $gris2;
    @include telefono {
        background: $gris2;
    }
    @include tablet {
        background: $gris2;
    }
    @include desktop {
        background: $gris2;
    }
}

/*  */

* {
    margin: 0;
    padding: 0;
    font-family: $fuentePrincipal;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

.header{
    background-color: $negro;
    color: $blanco;
    height: 150px;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: 1fr;
    .titulo{
        font-size: 18px;
        padding: 65px 0px 0px 30px;
        @include tablet {
            font-size: 24px;
        }
    }    
}

.header{
    .menu{
        display: block;        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 50px;
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            padding: 0px;
        }
            ul{        
            display: grid;
            grid-column-start: 1;
            grid-column-end: 3;
            @include tablet {
                display: flex;
                }
                li{ 
                    .itemMenu{
                        display: flex;
                        @include tablet {                        
                            display: block;
                            flex: 0 1 auto;
                        }
                        padding: 10px 0px 0px 0px;
                        @include tablet {
                            padding: 72px 0px 0px 30px;
                        }
                    }
                }
            }
            form{
                grid-column-start: 4;
                grid-column-end: 4;
                input{
                    @include input($blanco);
                    margin: 55px 15px 0px 0px;
                    width: auto;
                    color: red;
                }
            }
        
    }
}

.contenedor{
    display: grid;
    grid-template-columns: 5fr; 
    @include tablet {
        grid-template-columns: 1.2fr 4fr 1.2fr;
    }
    grid-template-rows: 1fr;
    .lista{
        grid-column-start: 2;
        grid-column-end: 2;
        .itemRegistro{
            border: 0.2px solid $gris3;
            padding: 20px 0px 20px 20px;
            display: grid;
            grid-template-columns: 5fr;
            @include tablet {
                grid-template-columns: 5fr 2fr;
                grid-template-rows: 2fr;
            }
            .infoItem{
                padding: .3rem;
                span{
                    font-weight: 700;                    
                }
                .textCtn{
                    margin-bottom: 1rem;
                }
            }
        }        
    }
    .botones{
        justify-content: center;
        justify-items: center;
        align-items: center;
                .btnAf{
                    @include boton($azulSp, $blanco); 
                }
                .btnNeg{
                    @include boton($rojoSp, $blanco);
                }
    } 
}

.encabezado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    h1{
        padding: 2rem;
    }
    .regresar{
        @include boton($rojoSp, $blanco);
        float: left;
        grid-column-start: 2;
        grid-column-end: 2;
        height: 14px;
        margin-top: 30px;
}
}

.formNuevo{
    display: grid;
    grid-template-columns: 5fr;
    @include tablet {
    grid-template-columns: 1.2fr 4fr 1.2fr;
    }
    grid-template-rows: 1fr;
    
    form{
        grid-column-start: 2;
        grid-column-end: 2;
        padding: 2rem;
        input{
            @include input($blanco);  
        }
        .check{
            display: inline;
            width: 22px;
        }
        button{
            @include boton($azulSp, $blanco);
            margin-top: 1rem;
            float: right;
        }
    }
}

.errorForm{
    text-align: center;
    color: $rojoSp;
    font-weight: 700;
}


body{    
    background: $gris2;
    @include telefono {
        background: $gris2;
    }
    @include tablet {
        background: $gris2;
    }
    @include desktop {
        background: $gris2;
    }
}