@font-face {
    font-family: monserrat;
    src: url(../fuentes/Montserrat-Regular.ttf);
}

/* Fuente principal */
$fuentePrincipal : monserrat;

/* Media Querys */
/* Variables para los tamaños de los Queries */
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Colores */
$radius: 5px;
$azulSp: #3085d6;
$rojoSp: #dd3333;
$gris: #595959;
$gris2: #f1f1f1;
$gris3: #bebebe;
$blanco: #FFFFFF;
$negro: #000000;
